@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<Button Type="ButtonType.Primary" Text="Button"></Button>

<div class="bg-green-100">
    <p>This is a simple Blazor WebAssembly app.</p>
</div>

<div>
    <p class="text-gray-700 dark:text-gray-400">
        <span class="font-medium text-gray-950 dark:text-white">Tom Watson</span> mentioned you in
        <span class="font-medium text-gray-950 dark:text-white">Logo redesign</span>
    </p>
    <time class="mt-1 block text-gray-500" datetime="9:37">9:37am</time>
</div>